.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 20px !important;
}
.form-element {
  padding: 5px 0px 25px 40px;
  width: 100%;
}
.main{
    width: 50%;
    height: 50%;
    text-align: center;
    border: 2px solid;
}

.toolbar{
    margin-bottom: 20px !important;
}